---
name: twentycrm

networks:
  db:
    name: twentycrm-db
  proxy:
    name: proxy
    external: true

services:
  server:
    container_name: twentycrm-server
    image: twentycrm/twenty:${TWENTYCRM_VERSION:-v1.5}
    init: true
    restart: always

    volumes:
      - ${LOCAL_SERVER_DATA_DIR:-/var/lib/twentycrm/server-storage}:/app/packages/twenty-server/.local-storage

    ports:
      - ${SERVER_PORT:-3000}:${NODE_PORT:-3000}

    environment:
      - NODE_PORT=${NODE_PORT:-3000}

      - APP_SECRET

      - SERVER_URL
      - PG_DATABASE_URL
      - REDIS_URL

      - DISABLE_DB_MIGRATIONS
      - DISABLE_CRON_JOBS_REGISTRATION

      - STORAGE_TYPE
      - STORAGE_S3_NAME
      - STORAGE_S3_REGION
      - STORAGE_S3_ENDPOINT
      - STORAGE_S3_ACCESS_KEY_ID
      - STORAGE_S3_SECRET_ACCESS_KEY

    healthcheck:
      test: curl --fail http://localhost:$${NODE_PORT}/healthz
      interval: 5s
      timeout: 5s
      retries: 20

    networks:
      - db
      - proxy

    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.twentycrm.rule=Host(`${TWENTYCRM_HOST}`)
      - traefik.http.routers.twentycrm.entrypoints=websecure
      - traefik.http.routers.twentycrm.service=twentycrm
      - traefik.http.routers.twentycrm.tls=true
      - traefik.http.routers.twentycrm.tls.certresolver=letsencrypt
      - traefik.http.services.twentycrm.loadbalancer.server.port=${SERVER_PORT}

    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

  worker:
    container_name: twentycrm-worker
    image: twentycrm/twenty:${TWENTYCRM_VERSION:-v1.5}
    restart: always
    init: true
    command: ["yarn", "worker:prod"]

    volumes:
      - ${LOCAL_SERVER_DATA_DIR:-/var/lib/twentycrm/server-storage}:/app/packages/twenty-server/.local-storage

    environment:
      - APP_SECRET

      - SERVER_URL
      - PG_DATABASE_URL
      - REDIS_URL

      - DISABLE_DB_MIGRATIONS=true # it already runs on the server
      - DISABLE_CRON_JOBS_REGISTRATION=true # it already runs on the server

      - STORAGE_TYPE
      - STORAGE_S3_NAME
      - STORAGE_S3_REGION
      - STORAGE_S3_ENDPOINT
      - STORAGE_S3_ACCESS_KEY_ID
      - STORAGE_S3_SECRET_ACCESS_KEY

    networks:
      - db

    depends_on:
      server:
        condition: service_healthy

  db:
    container_name: twentycrm-db
    image: postgres:${POSTGRES_VERSION:-16.11-alpine}
    restart: always

    environment:
      - PGDATA=${PGDATA:-/var/lib/postgresql/data}
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD

    volumes:
      - ${POSTGRES_LOCAL_DATA_DIR:-/var/lib/twentycrm/postgresql/data}:${POSTGRES_DATA_DIR:-/var/lib/postgresql/data}

    healthcheck:
      test: pg_isready -U $${POSTGRES_USER} -h localhost -d $${POSTGRES_DB}
      timeout: 5s
      interval: 5s
      retries: 10

    networks:
      - db

  redis:
    container_name: twentycrm-redis
    image: redis:${REDIS_VERSION:-7.4.5-alpine}
    restart: always
    command: [redis-server, --maxmemory-policy, noeviction]

    volumes:
      - ${REDIS_LOCAL_DATA_DIR:-/var/lib/twentycrm/redis/data}:/data

    healthcheck:
      test: [CMD, redis-cli, ping]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

    networks:
      - db
