---
name: openclaw

networks:
  openclaw:
    name: openclaw

services:
  openclaw-gateway:
    container_name: openclaw-gateway
    image: ${OPENCLAW_IMAGE:-docker.io/andreswebs/openclaw}
    restart: unless-stopped
    environment:
      - "OPENCLAW_GATEWAY_BIND=${OPENCLAW_GATEWAY_BIND:-lan}"
      - "OPENCLAW_GATEWAY_PORT=${OPENCLAW_GATEWAY_PORT:-18789}"
      - OPENCLAW_GATEWAY_TOKEN
      - GOG_KEYRING_PASSWORD
      - GOOGLE_PLACES_API_KEY
      - BRAVE_API_KEY
      - ZAI_API_KEY
      - TELEGRAM_BOT_TOKEN
      - GEMINI_API_KEY
      - ANTHROPIC_OAUTH_TOKEN
      - OPENAI_API_KEY
      - AWS_BEARER_TOKEN_BEDROCK
      - AWS_REGION

    volumes:
      - "${DOCKER_SOCK:-/var/run/docker.sock}:/var/run/docker.sock"
      - "${DOCKER_BIN:-/usr/bin/docker}:/usr/bin/docker"
      - "${DOCKER_LIBEXEC:-/usr/libexec/docker}:/usr/libexec/docker"
      - "${LINUXBREW_DIR:-/home/linuxbrew/.linuxbrew}:/home/linuxbrew/.linuxbrew"
      - "${LOCAL_OPENCLAW_CONFIG_DIR:-/home/openclaw/.openclaw}:/home/openclaw/.openclaw"
      - "${LOCAL_OPENCLAW_WORKSPACE_DIR:-/home/openclaw/.openclaw/workspace}:/home/openclaw/.openclaw/workspace"
    ports:
      - "127.0.0.1:${LOCAL_OPENCLAW_GATEWAY_PORT:-18789}:${OPENCLAW_GATEWAY_PORT:-18789}"
    command:
      [
        gateway,
        --bind,
        "${OPENCLAW_GATEWAY_BIND}",
        --port,
        "${OPENCLAW_GATEWAY_PORT}",
      ]
