# shellcheck shell=bash

export POSTGRES_LOCAL_DATA_DIR="${HOME}/supabase-auth-example/postgres"
export POSTGRES_DATA_DIR="/var/lib/postgresql/data"

export AUTH_POSTGRES_PASSWORD="changethis"

export AUTH_POSTGRES_DB="_auth"
export AUTH_POSTGRES_USER="local_auth"

export GOTRUE_JWT_SECRET="changethis"

export SUPABASE_AUTH_EXPOSED_PORT="9999"
export SUPABASE_AUTH_PORT="9999"
