---
exporters:
  debug: {}

receivers:
  otlp:
    protocols:
      http: {}
      grpc: {}

service:
  pipelines:
    metrics:
      receivers: [otlp]
      exporters: [debug]

    traces:
      receivers: [otlp]
      exporters: [debug]

    logs:
      receivers: [otlp]
      exporters: [debug]
