---
x-shared:
  zammad-service: &zammad-service
    image: ${IMAGE_REPO:-ghcr.io/zammad/zammad}:${VERSION:-stable}
    environment:
      - RAILS_TRUSTED_PROXIES
      - REDIS_URL=${REDIS_URL:-redis://zammad-redis:6379}
      - MEMCACHE_SERVERS=${MEMCACHE_SERVERS:-zammad-memcached:11211}

      - ZAMMAD_HTTP_TYPE
      - ZAMMAD_FQDN
      - ZAMMAD_WEB_CONCURRENCY
      - ZAMMAD_PROCESS_SESSIONS_JOBS_WORKERS
      - ZAMMAD_PROCESS_SCHEDULED_JOBS_WORKERS
      - ZAMMAD_PROCESS_DELAYED_JOBS_WORKERS
      - ZAMMAD_WEBSOCKET_HOST
      - ZAMMAD_WEBSOCKET_PORT
      - ZAMMAD_RAILSSERVER_HOST
      - ZAMMAD_RAILSSERVER_PORT

      - AUTOWIZARD_JSON
      - AUTOWIZARD_RELATIVE_PATH

      - S3_URL
      - BACKUP_DIR=${BACKUP_DIR:-/var/tmp/zammad}
      - BACKUP_TIME=${BACKUP_TIME:-03:00}
      - HOLD_DAYS=${HOLD_DAYS:-10}
      - FULL_FS_DUMP=${FULL_FS_DUMP:-no}
      - TZ=${TZ:-Etc/UTC}

      - POSTGRESQL_HOST=${POSTGRESQL_HOST:-zammad-postgresql}
      - POSTGRESQL_USER=${POSTGRESQL_USER:-zammad}
      - POSTGRESQL_PASS
      - POSTGRESQL_PORT=${POSTGRESQL_PORT:-5432}
      - POSTGRESQL_DB=${POSTGRESQL_DB:-zammad}
      - POSTGRESQL_OPTIONS=${POSTGRESQL_OPTIONS:-?pool=50}
      - POSTGRESQL_DB_CREATE

      - ELASTICSEARCH_ENABLED=${ELASTICSEARCH_ENABLED:-true}
      - ELASTICSEARCH_SSL_VERIFY=${ELASTICSEARCH_SSL_VERIFY:-false}
      - ELASTICSEARCH_REINDEX=${ELASTICSEARCH_REINDEX:-false}
      - ELASTICSEARCH_SCHEMA=${ELASTICSEARCH_SCHEMA:-http}
      - ELASTICSEARCH_HOST=${ELASTICSEARCH_HOST:-zammad-elasticsearch}
      - ELASTICSEARCH_PORT=${ELASTICSEARCH_PORT:-9200}
      - ELASTICSEARCH_NAMESPACE=${ELASTICSEARCH_NAMESPACE:-zammad}
      - ELASTICSEARCH_USER
      - ELASTICSEARCH_PASS

      - NGINX_PORT=${NGINX_PORT:-8080}
      - NGINX_SERVER_SCHEME

      # Variables used by ngingx-proxy container for reverse proxy creations
      # for docs refer to https://github.com/nginx-proxy/nginx-proxy
      - VIRTUAL_HOST
      - VIRTUAL_PORT
      # Variables used by acme-companion for retrieval of LetsEncrypt certificate
      # for docs refer to https://github.com/nginx-proxy/acme-companion
      - LETSENCRYPT_HOST
      - LETSENCRYPT_EMAIL

networks:
  backend:
    name: zammad-backend
  proxy:
    name: proxy
    external: true

services:
  zammad-postgresql:
    image: postgres:${POSTGRES_VERSION:-17.7-alpine}
    restart: always
    environment:
      - PGDATA=${PGDATA:-/var/lib/postgresql/17/docker}
      - POSTGRES_DB=${POSTGRESQL_DB:-zammad}
      - POSTGRES_USER=${POSTGRESQL_USER:-zammad}
      - POSTGRES_PASSWORD=${POSTGRESQL_PASS:-zammad}
    volumes:
      - ${POSTGRES_LOCAL_DATA_DIR:-/var/lib/postgresql/data}:${POSTGRES_DATA_DIR:-/var/lib/postgresql/data}
    networks:
      - backend
    healthcheck:
      test: pg_isready -U $${POSTGRES_USER} -h localhost -d $${POSTGRES_DB}
      interval: 5s
      timeout: 5s
      retries: 10

  zammad-memcached:
    image: memcached:${MEMCACHE_VERSION:-1.6.39-alpine}
    container_name: zammad-memcached
    restart: always
    command: [memcached, --memory-limit, "${MEMCACHED_MEMORYLIMIT:-256}"]
    networks:
      - backend

  zammad-redis:
    image: redis:${REDIS_VERSION:-7.4.5-alpine}
    container_name: zammad-redis
    restart: always
    command:
      [
        redis-server,
        --appendonly,
        "no",
        --maxmemory,
        "${REDIS_MAXMEMORY:-500mb}",
        --maxmemory-policy,
        "${REDIS_MAXMEMORY_POLICY:-allkeys-lru}",
      ]
    volumes:
      - ${REDIS_LOCAL_DATA_DIR:-/var/lib/zammad/redis-data}:/data
    networks:
      - backend
    healthcheck:
      test: [CMD, redis-cli, ping]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s

  zammad-elasticsearch:
    image: elastic/elasticsearch:${ELASTICSEARCH_VERSION:-8.19.6}
    container_name: zammad-elasticsearch
    restart: always
    volumes:
      - ${ELASTICSEARCH_LOCAL_DATA_DIR:-/var/lib/zammad/elasticsearch-data}:/usr/share/elasticsearch/data
    networks:
      - backend
    healthcheck:
      test:
        [
          CMD,
          curl,
          --write-out,
          "HTTP %{http_code}",
          --fail,
          --silent,
          --output,
          /dev/null,
          http://localhost:9200/,
        ]
      interval: 30s
      timeout: 10s
      retries: 50
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=${ELASTICSEARCH_JAVA_OPTS:--Xlog:disable -Xlog:all=warning:stderr:utctime,level,tags -Xlog:gc=debug:stderr:utctime -Xms1g -Xmx1g}

  zammad-init:
    <<: *zammad-service
    container_name: zammad-init
    restart: on-failure
    command: [zammad-init]
    volumes:
      - ${ZAMMAD_LOCAL_STORAGE_DIR:-/var/lib/zammad/storage}:/opt/zammad/storage
    user: 0:0
    networks:
      - backend
    depends_on:
      zammad-memcached:
        condition: service_started
      zammad-postgresql:
        condition: service_healthy
      zammad-redis:
        condition: service_healthy
      zammad-elasticsearch:
        condition: service_healthy

  zammad-backup:
    <<: *zammad-service
    container_name: zammad-backup
    restart: always
    profiles: [backup]
    command: [zammad-backup]
    volumes:
      - ${ZAMMAD_LOCAL_STORAGE_DIR:-/var/lib/zammad/storage}:/opt/zammad/storage:ro
      - ${ZAMMAD_LOCAL_BACKUP_DIR:-/var/lib/zammad/backup}:/var/tmp/zammad
    user: 0:0
    networks:
      - backend
    depends_on:
      zammad-init:
        condition: service_completed_successfully

  zammad-railsserver:
    <<: *zammad-service
    container_name: zammad-railsserver
    restart: always
    command: [zammad-railsserver]
    volumes:
      - ${ZAMMAD_LOCAL_STORAGE_DIR:-/var/lib/zammad/storage}:/opt/zammad/storage
    networks:
      - backend
    depends_on:
      zammad-init:
        condition: service_completed_successfully

  zammad-scheduler:
    <<: *zammad-service
    container_name: zammad-scheduler
    command: [zammad-scheduler]
    volumes:
      - ${ZAMMAD_LOCAL_STORAGE_DIR:-/var/lib/zammad/storage}:/opt/zammad/storage
    networks:
      - backend
    depends_on:
      zammad-init:
        condition: service_completed_successfully

  zammad-websocket:
    <<: *zammad-service
    container_name: zammad-websocket
    command: [zammad-websocket]
    volumes:
      - ${ZAMMAD_LOCAL_STORAGE_DIR:-/var/lib/zammad/storage}:/opt/zammad/storage
    networks:
      - backend
    depends_on:
      zammad-init:
        condition: service_completed_successfully

  zammad-nginx:
    <<: *zammad-service
    container_name: zammad-nginx
    command: [zammad-nginx]
    networks:
      - backend
      - proxy
    expose:
      - ${NGINX_PORT:-8080}
    ports:
      - ${NGINX_EXPOSE_PORT:-8080}:${NGINX_PORT:-8080}
    depends_on:
      zammad-railsserver:
        condition: service_started
